/* General Styles */
body {
  font-family: 'Inter', sans-serif;
}

.app-container {
  max-width: 1280px;
}

.header h1,
.header h2{
  font-weight :bold ;
}

/* Main Content Layout */
.main-content{
  display :flex ;
}

.left-section,
.right-section{
  padding-top :20px ;
}

.left-section{
  width :60% ;
}

.right-section{
  width :40% ;
}